<div class="info-field">
  <ul>
    <li>
      <label for="timer_5" class="duration">5 sec</label>
      <input 
        type="radio" 
        name="timer" 
        id="timer_5" 
        [disabled]="counterServise.radioDisabled"
        value="5"
        (change)="changeRadio($event)"
      >
    </li>
    <li>
      <label for="timer_10" class="duration">10 sec</label>
      <input 
        type="radio" 
        name="timer" 
        id="timer_10"
        [disabled]="counterServise.radioDisabled" 
        value="10"
        (change)="changeRadio($event)"
        checked
      >
    </li>
    <li>
      <label for="timer_15" class="duration">15 sec</label>
      <input 
        type="radio" 
        name="timer" 
        id="timer_15"
        [disabled]="counterServise.radioDisabled"
        value="15"
        (change)="changeRadio($event)"
      >
    </li>
  </ul>
  
  <button
    class="btn"
    (click)="reset()"
  >Reset</button>

  <button
    class="btn"
    (click)="changeName()"
    [disabled]="counterServise.changeNameDisabled"
  >Change Name</button>

  <h4>
    Previous record for {{counterServise.timerSecond}} sec is: 
    <span>{{counterServise.previousRecord}} clicks</span>
  </h4>

  <div *ngIf="counterServise.winToggle" class="congratulation">
    <h2> Congratulation {{counterServise.name}}!!!</h2>
    <p>
      You set new record for {{counterServise.timerSecond}} sec = 
      <span>{{counterServise.counter}} clicks</span>
    </p>   
  </div>

  <div *ngIf="counterServise.noWinToggle" class="no-win">
    <div *ngIf="counterServise.goodToggle" class="good">
      <p>
        <span class="name">{{counterServise.name}}</span>, your result is good, but not enough for be champion.
      </p>
    </div>
    <div *ngIf="!counterServise.goodToggle" class="bad">
      <p>
        <span class="name">{{counterServise.name}}</span>, your result is bad, you have to more practice.
      </p>
    </div>
  </div>
  
</div>