h1{
  text-align: center;
  color: green;
}

button{
  padding: 10px 20px;
}

.container{
  padding: 10px 10px 0;
  max-width: 590px;
  margin: 20px auto;
}

.border{
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.btns-div{
  display: flex;
  justify-content: space-around;
}

.pools,
.warning{
  display: none;
}