* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.landing-logo, footer .footer-wrap .footer_logo {
  display: flex;
  font-family: "Hind", sans-serif;
  position: relative;
  width: 150px; }
  .landing-logo img, footer .footer-wrap .footer_logo img {
    width: 45px;
    height: 45px; }
  .landing-logo p, footer .footer-wrap .footer_logo p {
    font-weight: 700;
    font-size: 24px;
    margin-left: 15px; }
    .landing-logo p span, footer .footer-wrap .footer_logo p span {
      font-weight: 400;
      font-size: 10px;
      position: absolute;
      bottom: 0;
      left: 69px; }

body {
  background: white; }

header {
  height: 520px;
  background-image: url(./../img/m-h-day.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 520px 200px;
  padding: 20px 110px;
  color: #2c2f3c; }
  header .header-wrap .header_heading {
    font-size: 40px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    width: 290px;
    line-height: 1;
    margin-top: 40px;
    position: relative; }
    header .header-wrap .header_heading::before {
      content: '';
      display: block;
      width: 170px;
      height: 27px;
      background: #14a0c7;
      position: absolute;
      bottom: 0;
      left: 0; }
    header .header-wrap .header_heading::after {
      content: 'awesome';
      position: absolute;
      bottom: 0;
      left: 0; }
  header .header-wrap .header_text {
    width: 580px;
    margin-top: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    white-space: pre-line; }
  header .header-wrap div:last-of-type {
    margin-top: 45px; }
    header .header-wrap div:last-of-type .header_button {
      background: #699900;
      border: none;
      outline: none;
      padding: 10px 40px;
      color: white;
      font-size: 16px;
      font-weight: 700;
      border-radius: 3px;
      font-family: "Hind", sans-serif; }
    header .header-wrap div:last-of-type .login {
      margin-left: 100px;
      color: white;
      font-size: 16px;
      font-family: "Hind", sans-serif; }

main {
  text-align: center;
  padding-bottom: 150px;
  position: relative; }
  main .section_text {
    width: 340px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 35px;
    font-family: "Source Sans Pro", sans-serif;
    color: #2c2f3c;
    position: relative; }
    main .section_text::before {
      content: 'adventure';
      display: block;
      height: 36px;
      width: 150px;
      background: #14a0c7;
      position: absolute;
      bottom: 7px;
      right: 10px; }
  main .section_card_wrap {
    margin-top: 20px; }
    main .section_card_wrap .section_card {
      background: #21232e;
      padding: 10px;
      width: 900px;
      height: 230px;
      margin: 10px auto 0;
      color: white;
      display: flex;
      border-radius: 5px; }
      main .section_card_wrap .section_card img {
        border-radius: 5px;
        width: 100%; }
      main .section_card_wrap .section_card .section_card_right_container {
        padding: 27px 92px; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          text-align: center;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 15px;
          font-weight: 700; }
        main .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Hind", sans-serif;
          line-height: 1.5;
          margin-top: 25px;
          font-size: 14px;
          color: #c0c3bf;
          text-align: justify; }
        main .section_card_wrap .section_card .section_card_right_container a {
          color: #c0c3bf;
          margin-top: 10px;
          display: block; }
      main .section_card_wrap .section_card:nth-child(3) .section_card_right_container .section_card_text {
        margin-top: 50px; }
  main .section_banner {
    background: linear-gradient(to right, #699803, #2e5cd8);
    width: 1000px;
    height: 106px;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    bottom: -53px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    padding: 30px 120px; }
    main .section_banner .section_banner_text_wrap .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      color: #2c2f3c;
      font-weight: 700;
      font-size: 22px;
      position: relative; }
      main .section_banner .section_banner_text_wrap .section_banner_heading::before {
        content: '';
        display: block;
        width: 46px;
        height: 38px;
        background: #14a0c7;
        position: absolute;
        left: 89px;
        bottom: 0; }
      main .section_banner .section_banner_text_wrap .section_banner_heading::after {
        content: 'start';
        position: absolute;
        bottom: 0;
        left: 89px; }
    main .section_banner .section_banner_text_wrap .section_banner_text {
      text-align: left;
      color: #c0c3b6;
      font-family: "Hind", sans-serif;
      margin-top: 10px;
      font-size: 14px; }
    main .section_banner .section_banner_button {
      background: #699900;
      border: none;
      outline: none;
      padding: 10px 40px;
      color: white;
      font-size: 16px;
      font-weight: 700;
      border-radius: 3px;
      font-family: "Hind", sans-serif; }

footer {
  background: #21232e;
  padding: 100px 120px 30px;
  font-family: "Hind", sans-serif; }
  footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    color: #c0c3bf; }
    footer .footer-wrap .footer_logo p span {
      bottom: 10px; }
    footer .footer-wrap .footer_text {
      width: 249px;
      font-size: 12px;
      line-height: 1.5; }
