$font-weight: (
  "normal": 400,
  "bold": 700
);
@mixin btn {
  background: $btnBg;
  border: none;
  outline: none;
  padding: 10px 40px;
  color: white;
  font-size: 16px;
  font-weight: map-get($font-weight, "bold");
  border-radius: 3px;
  font-family: $fontFamilyHind;
}
@mixin link1 {
  margin-left: 100px;
  color: white;
  font-size: 16px;
  font-family: $fontFamilyHind;
}
@mixin link{
  color: $textColorGeneral;
  margin-top: 10px;
  display: block;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.landing-logo{
  display: flex;
  font-family: $landingLogoFF;
  position: relative;
  width: 150px;

  img{
    width: 45px;
    height: 45px;
  }
  p{
    font-weight: map-get($font-weight, "bold");
    font-size: 24px;
    margin-left: 15px;

    span{
      font-weight: map-get($font-weight, "normal");
      font-size: 10px;
      position: absolute;
      bottom: $bottom;
      left: $left;
    }
  }
}

body{
  background: $mainBg;
}

header{
  height: 520px;
  background-image: $headerBg;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 520px 200px;
  padding: 20px 110px;
  color: $headerTextColor;

  .header-wrap{
    .header_heading{
      font-size: 40px;
      font-weight: map-get($font-weight, "bold");
      font-family: $fontFamilySource;
      width: 290px;
      line-height: 1;
      margin-top: 40px;
      position: relative;

      &::before{
        content: '';
        display: block;
        width: 170px;
        height: 27px;
        background: $awesomeBg;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &::after{
        content: 'awesome';
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .header_text{
      width: 580px;
      margin-top: 30px;
      font-family: $headerTextFF;
      font-size: 15px;
      line-height: 1.5;
      white-space: pre-line;
    }
    div:last-of-type{
      margin-top: 45px;

      .header_button{
        @include btn;
      }
      .login{
        @include link1;
      }
    }
  }
}

main{
  text-align: center;
  padding-bottom: 150px;
  position: relative;

  .section_text{
    width: 340px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 35px;
    font-family: $fontFamilySource;
    color: $sectionTextColor;
    position: relative;

    &::before{
      content: 'adventure';
      display: block;
      height: 36px;
      width: 150px;
      background: $adventure;
      position: absolute;
      bottom: 7px;
      right: 10px;
    }
  }
  
  .section_card_wrap{
    margin-top: 20px;
    
    .section_card{
      background: $sectionCardBg;
      padding: 10px;
      width: 900px;
      height: 230px;
      margin: 10px auto 0;
      color: white;
      display: flex;
      border-radius: 5px;

      img{
        border-radius: 5px;
        width: 100%;
      }
      .section_card_right_container{
        padding: 27px 92px;

        .section_card_heading{
          text-align: center;
          font-family: $fontFamilySource;
          font-size: 15px;
          font-weight: map-get($font-weight, "bold");
        }
        .section_card_text{
          font-family: $sectionCardText;
          line-height: 1.5;
          margin-top: 25px;
          font-size: 14px;
          color: $textColorGeneral;
          text-align: justify;
        }
        a{
          @include link;
        }
      }

      &:nth-child(3){
        .section_card_right_container{
          .section_card_text{
            margin-top: 50px;
          }
        }
      }
    }
  }

  .section_banner{
    background: linear-gradient(to right, $sectionBannerColor1, $sectionBannerColor2);
    width: 1000px;
    height: 106px;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    bottom: -53px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;

    .section_banner_text_wrap{
      .section_banner_heading{
        font-family: $fontFamilySource;
        color: $sectionBannerHeadingColor;
        font-weight: map-get($font-weight, "bold");
        font-size: 22px;
        position: relative;

        &::before{
          content: '';
          display: block;
          width: 46px;
          height: 38px;
          background: $sectionBannerHeadingBg;
          position: absolute;
          left: 89px;
          bottom: 0;
        }
        &::after{
          content: 'start';
          position: absolute;
          bottom: 0;
          left: 89px;
        }
      }
      .section_banner_text{
        text-align: left;
        color: #c0c3b6;
        font-family: $sectionBannerTextFF;
        margin-top: 10px;
        font-size: 14px;
      }
    }
    .section_banner_button{
      @include btn;
    }
  }
}

footer{
  background: $footerBg;
  padding: 100px 120px 30px;
  font-family: $footerTextFF;

  .footer-wrap{
    display: flex;
    justify-content: space-between;
    color: $textColorGeneral;

    .footer_logo{
      @extend .landing-logo;

      p{
        span{
          bottom: $bottom1;
        }
      }
    }
    .footer_text{
      width: 249px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
}