$fontFamilySource: 'Source Sans Pro', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$textColorGeneral: #c0c3bf;
$headerBg: url(./../img/m-h-day.jpg);
$headerTextColor: #2c2f3c;
$landingLogoFF: $fontFamilyHind;
$awesomeBg: #14a0c7;
$bottom: 0;
$left: 69px;
$headerTextFF: $fontFamilySource;
$btnBg: #699900;
$mainBg: white;
$sectionTextColor: #2c2f3c;
$adventure: #14a0c7;
$sectionCardBg: #21232e;
$sectionCardText: $fontFamilyHind;
$sectionBannerColor1: #699803;
$sectionBannerColor2: #2e5cd8;
$sectionBannerHeadingColor: #2c2f3c;
$sectionBannerHeadingBg: #14a0c7;
$sectionBannerTextFF: $fontFamilyHind;
$footerBg: #21232e;
$footerTextFF: $fontFamilyHind;
$bottom1: 10px;