$fontFamilySource: 'Source Sans Pro', sans-serif;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilyFresca: 'Fresca', sans-serif;
$textColorGeneral: #c0c3bf;
$headerBg: url(./../img/m-h-night.jpg);
$headerTextColor: white;
$landingLogoFF: $fontFamilyFresca;
$awesomeBg: #ff4e33;
$bottom: 5px;
$left: 63px;
$headerTextFF: $fontFamilyFresca;
$btnBg: #e3ac00;
$mainBg: #21232e;
$sectionTextColor: white;
$adventure: #ff4e33;
$sectionCardBg: #3b3f50;
$sectionCardText: $fontFamilyFresca;
$sectionBannerColor1: #dda206;
$sectionBannerColor2: #942e51;
$sectionBannerHeadingColor: white;
$sectionBannerHeadingBg: #ff4e33;
$sectionBannerTextFF: $fontFamilyFresca;
$footerBg: #3b3f50;
$footerTextFF: $fontFamilyFresca;
$bottom1: 15px;