.box{
  border: 1px solid black;
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: 100px auto;

  .welcome{
    margin-top: 10px;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    outline: none;
  }

  button{
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
  }
}