.search-add-div{
  border: 1px solid black;
  padding: 20px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.search-input{
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  outline: none;
}

.center{
  width: 95%;
  margin: 0 auto;
}

ul li{
  list-style: none;
}

.border{
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.input-edit,
.input-style{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 120px;
  padding: 5px 5px 0;
}

.input-edit.ng-invalid{
  border-bottom: 1px solid red;

}
.input-edit.ng-valid{
  border-bottom: 1px solid green;
}

.email{
  width: 150px;
}

button{
  margin-right: 10px;
}

h2{
  text-align: center;
}

.red{
  border-color:red;
}

.green{
  border-color:green;
}