<div class="search-add-div">
  <input 
    type="search" 
    placeholder="Search" 
    class="search-input" 
    [(ngModel)]="searchStr"
  >
  <button 
    id="add-btn"
    (click)="addUser()"
  >Add new user</button>
</div>

<div 
  class="border center"
  [ngStyle]="{display: toggleDisplayDiv ? 'flex' : 'none'}"
  [class.border-red]="toggleBorder"
>
  <input type="text" placeholder="name" class="input-style" [(ngModel)]="name" />
  <input type="email" placeholder="e-mail" class="input-style email" [(ngModel)]="email" />
  <input type="tel" placeholder="phone" class="input-style" [(ngModel)]="phone"  />
  <div>
    <button
      (click)="saveNewUser()"
    >Save</button>
    <button
      (click)="cancelAddNew()"
    >Discard</button>
  </div>
</div>

<div>
  <ul *ngIf="usersService.users.length; else noUsers" class="center">
    <li *ngFor="let user of usersService.users | search: searchStr;" class="border">
      <span>{{ user.id }}. </span>
      <input type="text" value="{{ user.name }}" class="input-style" [disabled]="toggleInput"/>
      <input type="email" value="{{ user.email }}" class="input-style email" [disabled]="toggleInput"/>
      <input type="tel" value="{{ user.phone }}" class="input-style" [disabled]="toggleInput"/>
      <div>
        <button (click)="removeUser(user.id)">Delete</button>
        <button (click)="editUser(user.id)">Edit</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #noUsers>
  <h2>No users now</h2>
</ng-template>