.search-add-div{
  border: 1px solid black;
  padding: 20px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.search-input{
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  outline: none;
}