.container a:hover{
  background: lightskyblue;
  color: #fff;
}
.tm-banner{
  background: linear-gradient(to right, lightskyblue, burlywood );
}
.tm-banner-inner{
  background: white;
}
.tm-banner-text{
  text-shadow: 5px 5px 3px #333;
  animation-name: aaa;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes aaa{
  0%{margin-left: 200px;}
  100%{margin-left: 0;}
}
.tm-content-box.flex-2-col{
  display: flex;
}
.padding-medium.flex-item.tm-team-description-container.flex-item{
  align-self: center;
}
.padding-medium.flex-item.tm-team-description-container.flex-item h2{
  text-align: center;
}
#about ul li:nth-child(odd):hover{
  background: lightgrey;
}
.heading.tm-content-box .padding-medium h2{
  color: skyblue;
  text-align: center;
}
.heading.tm-content-box .padding-medium ol li{
  list-style-type: lower-alpha;
}
.heading.tm-content-box .padding-medium ol li:hover::before{
  content: '>';
}
.heading.tm-content-box .padding-medium ol li:hover a{
  background: #fff;
  color:  #0275d8;
}
.heading.tm-content-box .padding-medium ol li a{
  position: relative;
}
.heading.tm-content-box .padding-medium ol li:nth-child(1) a::after,
.heading.tm-content-box .padding-medium ol li:nth-child(3) a::after{
  content: 'New';
  color: red;
  font-weight: bold;
  position: absolute;
  bottom: 24%;
  left: 100%;
  font-size: 12px;
  font-variant: small-caps;
}
.blocks .padding-medium.flex-item.tm-team-description-container h2{
  text-align: left;
}
.blocks .padding-medium.flex-item.tm-team-description-container p:last-child{
  letter-spacing: 5px;
  word-spacing: 10px;
  font-style: italic;
}
.blocks .tm-content-box ul li{
  padding: 10px;
}
.blocks .tm-content-box ul li:nth-child(odd){
  background: skyblue;
  color: white;
}
.blocks .tm-content-box ul li p::first-letter{
  font-weight: bold;
}
p[class~="tm-section-description"]{
  text-indent: 25px;
  line-height: 30px;
}
#contact_name,
#contact_email,
#contact_subject{
  border: none;
  border-bottom: 1px solid skyblue;
}
#contact_name:focus,
#contact_email:focus,
#contact_subject:focus{
  background: skyblue;
}
#contact_message{
  border: 1px solid skyblue;
}
.form-group:last-of-type{
  position: relative;
}
.form-group:last-of-type::after {
  content: url("./../img/email-icon.png");
  transform: scale(0.2);
  position: absolute;
  bottom: -40px;
  right: -40px;
}
.contact-form button{
  background: #fff;
  color: skyblue;
  border-color: skyblue;
  padding: 15px 25px;
  float: right;
}
.tm-main-nav,
#home,
section{
  box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
section::before{
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-top: 30px solid skyblue;
  border-right: 30px solid transparent;
}
@media print{
  body{
    padding-top: 10px;
  }
  h2{
    text-transform: uppercase;
  }
  .tm-main-content{
    padding-top: 0;
  }
  img,
  #about,
  .tm-main-nav,
  .blocks .tm-content-box.flex-2-col,
  .blocks .tm-content-box,
  section[class^="tm-content-box"],
  #tmCarousel .carousel-indicators{
    display: none;
  }
  #home img{
    display: block;
  }
  #home,
  p:last-of-type[class~="tm-section-description"],
  .heading.tm-content-box .padding-medium ol{
    margin: 0;
  }
  section,
  .blocks .padding-medium.flex-item.tm-team-description-container h2{
    text-align: center;
  }
  .blocks .padding-medium.flex-item.tm-team-description-container{
    margin: 0 auto;
    width: 580px;
  }
  .tm-content-box.flex-2-col .padding-medium.flex-item.tm-team-description-container.flex-item{
    max-width: 100%;
    padding: 20px;
  }
  p[class~="tm-section-description"]{
    text-indent: 0px;
    line-height: normal;
  }
  .heading.tm-content-box .padding-medium{
    padding: 0;
    width: 320px;
    margin: 0 auto;
  }
  .heading.tm-content-box .padding-medium ol{
    padding-left: 0;
  }
  .heading.tm-content-box .padding-medium ol li{
    list-style: none;
  }
  section::before,
  .heading.tm-content-box .padding-medium ol li:nth-child(1) a::after,
  .heading.tm-content-box .padding-medium ol li:nth-child(3) a::after{
    content: none;
  }
  .heading.tm-content-box .padding-medium ol li:nth-child(odd){
    text-align: right;
  }
  .heading.tm-content-box .padding-medium ol li:nth-child(even){
    text-align: left;
  }
  .blocks .padding-medium.flex-item.tm-team-description-container{
    max-width: 90%;
    padding: 0;
  }
  #tmCarousel{
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  footer .text-xs-center{
    margin-bottom: 0;
  }
}

