*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px 0;
}

.App{
  width: 95%;
  margin: 0 auto;
}

button{
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}

ul li{
  list-style: none;
}